export(rcDT)
export(predict.ITR)
export(rcRF)
export(de)
export(risk.partition.ITR)
export(itrtest)
export(power.set)
export(prune)
export(s.itrtest)
export(send.down)
export(rcDT.select)
export(Variable.Importance.ITR)
export(send.down.VI.ITR)
export(send.down.VI.ITR.Risk)
export(send.down.VI.ITR.Efficacy)
export(generateData)
import(knitr)
import(randomForest)
importFrom("stats", "lm", "na.omit", "rbinom", "rnorm", "sd")

useDynLib(rcITR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
